@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap);

body {
    font-family: "PT Sans", sans-serif;
    background-color: #000;
    position: relative;
    &._lock {
        overflow: hidden;
    }
}

[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
        &:before {
                content: '';
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                width: 120px;
                background-color: #fff;
                height: 1px;
                margin: auto;
            }
    @media (max-width: 300px) {
        font-size: 30px;
    }
}

.button {
    padding: 12px 28px;
    font-family: "PT Sans";
    font-size: 18px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.text {
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}

* {
    transition: all 0.2s;
}

// TOPBAR

.topbar {

    &__container {
        padding-top: 14px;
        padding-bottom: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-size: 12px;
        background-color: #000;
    }

    &__info {
        display: flex;
        gap: 15px;
        text-decoration: none;
        color: #969696;
    }

    &__login {
        min-width: 87px;
        display: flex;
        gap: 19px;
        text-decoration: none;
        color: #969696;
    }
}

// HEADER

.header {
    background-color: #0f0f0f;     

    &__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__logo {
        max-width: 104px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__menu {}

    &__buttons {
        display: flex;
        gap: 40px;
    }

    &__btn {}
}

.menu {
    @media (max-width:992px) {
        z-index: 1;
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        display: flex;
        overflow: auto;
        padding: 20px 0;
        background-color: #1F1F1F;
        transition: left .2s;
        &._active {
            left: 0;
        }
    }

    &-icon {
        display: none;

        @media (max-width: 992px) {
            display: block;
            height: 18px;
            width: 30px;
            position: relative;
            cursor: pointer;
            z-index: 5;

            span {
                transition: all 0.3s ease 0s;
                top: calc(50% - 1px);
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;

                &:first-child {
                    top: 0;
                }

                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }

            &._active {
                span {
                    transform: scale(0);

                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }

                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }

    &__body {
        padding: 30px 0;
        display: flex;
        align-items: center;
        // gap: 30px;
        @media (max-width: 992px) {
            flex-direction: column;
            margin: auto;
            background-color: #1F1F1F;
        }
    }

    &__item {

    }

    &__link {
        padding: 30px 15px;
        font-family: "PT Sans";
        font-size: 14px;
        text-transform: uppercase;
        color: #969696;
        transition: color .2s;
        @media (any-hover) {
            &:hover {
                color: #fff;
                background-color: #1F1F1F;
            }
        }
        @media (max-width: 992px) {
            line-height: 60px;
            font-size: 30px;
        }
        @media (max-width: 414px) {
            font-size: 24px;
        }
        @media (max-width: 280px) {
            padding: 20px 5px;
            font-size: 20px;
        }
    }

}

.basket {}

.search {}

// main block #1 HERO

.hero {
    background-image: url(./../img/first-screen.webp);
    background-position: center;

    &__container {
        max-width: 730px;
        // padding-top: 160px;
        // padding-bottom: 156px;
        padding-top: clamp(1.875rem, -0.866rem + 15.66vw, 10rem);
        padding-bottom: clamp(1.875rem, -1.222rem + 17.7vw, 9.75rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 80px
        gap: clamp(1.875rem, 0.646rem + 7.02vw, 5rem);
    }

    &__title {
        display: none;
    }

    &__logo {
    }

    &__description {
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
}

// main block #2 Elect season gallery + New collection

.elect {
    display: flex;
    @media (max-width: 1680px) {
        flex-direction: column;
    }

    &__season {
        width: 54.17%;
        // float: left;
        // width: 1040px;
        // flex: 0 0 calc(1040px/1920px*100%);
        @media (max-width: 1680px) {
            width: 100%;
        }   
    }

    &__newcoll {
        width: 45.83%;
        // float: right;
        // width: 880px;
        // flex: 0 0 calc(880px/1920px*100%);
        background-image: url(./../img/new-col.webp);
        background-size: cover;
        @media (max-width: 1680px) {
                width: 100%;
            }
    }
}

.season {

    &__wrapper {
        // padding-top: 93px;
        // padding-top: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
        // padding-left: 80px;
        // padding-left: clamp(1.875rem, 0.724rem + 6.58vw, 5rem);
        // padding-right: 80px;
        // padding-right: clamp(1.875rem, 0.724rem + 6.58vw, 5rem);
        padding: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem) clamp(1.875rem, 0.724rem + 6.58vw, 5rem);
    }

    &__title {}
}

.elect-slider {
    padding-top: 100px;
}

.elect-slide {
    width: 260px;

    &__img-wrapper {
        padding-top: 27px;
        padding-bottom: 34px;
        background-color: #191b1c;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__desc {
        padding-top: 25px;
        font-family: "Playfair Display";
    }

    &__title {
        font-size: 18px;
        color: #fff;
    }

    &__price {
        padding-top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #d0d0d0;
    }
}

.elect-slider__wrapper {
    // gap: 50px;
}

.swiper {
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    // display: inline-flex;
}

.swiper-buttons {
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
}

.swiper-button-prev {
    top: 50px;
    color: #969696;
}

.swiper-button-next {
    top: 50px;
    color: #969696;
}

.newcoll {

    &__wrapper {
        // padding-top: 484px;
        padding-top: clamp(9.625rem, 0.127rem + 54.28vw, 30.25rem);
        padding-bottom: 99px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    &__title {
        &:before {
            bottom: -25px;
        }
    }

    &__btn {
    }
}

// main block #3 Collection 2018

.coll {
    display: flex;
    @media (max-width: 1680px) {
        flex-direction: column;
    }

    &__img-wrapper {
        // flex: 0 0 calc(984px/1920px*100%);
        width: 48.75%;
        // float: left;
        @media (max-width: 1680px) {
            order: 1;
            width: 100%;
        }
    }

    &__content-wrapper {
        // flex: 0 0 calc(936px/1920px*100%);
        width: 51.25%;
        // float: right;
        padding: 0 15px;
        @media (max-width: 1680px) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
    }

    &__content {
        // padding-top: 100px;
        // padding-bottom: 98px;
        padding-top: clamp(3.125rem, 1.896rem + 7.02vw, 6.25rem);
        padding-bottom: clamp(4.375rem, 3.687rem + 3.93vw, 6.125rem);
        max-width: 628px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    &__title {
        font-weight: 400;
        &:before {
            bottom: -40px;
        }
    }

    &__desc {
        padding-top: 80px;
        padding-bottom: 64px;
        text-align: center;
    }

    &__btn {}
}

// main block #4 Novelties

.novelties {
    padding-top: clamp(3.125rem, 1.701rem + 8.14vw, 7.5rem);
    // padding-top: 120px;
    // padding-bottom: 150px;

    &__container {}

    &__title {
        &:before {
                bottom: -39px;
            }
    }
}

.novelties-slider {
    padding-top: 100px;
}

.novelties {

    &__container {
        @media (max-width: 991px) {
            padding-left: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
            padding-right: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
        }
    }

    &__title {}
}

.novelties-slider {

    &__wrapper {
        flex-wrap: wrap;
        @media (max-width: 991px) {
            flex-wrap: nowrap;
        }
    }
}

.novelties-slide {
    padding-bottom: 40px;
    text-align: center;
    @media (min-width:991px) {
        flex: 1 1 238px;
    }
    &:last-child img {
        filter: blur(1.5px);
    }
}

.novelties-btn {
    position: relative;
    top: -225px;
}

.novelties-slider-prev {}

.novelties-slider-next {}

// main block #5 Posts

.posts {
    padding-top: 63px;

    &__title {
        margin-bottom: 93px;
        &:before {
            bottom: -36px;
        }
    }
    
    &__img-wrapper {
        // width: 51.51%;
        display: flex;
        justify-content: center;
        @media (min-width: 1281px) {
            width: 51.51%;
        }
    }

    &__img {
        object-fit: cover;
    }
}

.post {

    &__wrapper {
        display: flex;
        // gap: 146px;
        gap: clamp(1.875rem, -12.625rem + 18.13vw, 9.125rem);
        margin-bottom: 35px;
        @media (max-width: 1280px) {
            flex-direction: column;
        }
    }

    &__img {
        @media (max-width: 1280px) {
            width: 100%;
        }
    }

    &__content {
        padding-top: 53px;
        padding-right: 30px;
        width: 48.49%;
        max-width: 628px;
        @media (max-width: 1280px) {
                padding-top: 0;
                max-width: none;
                width: 100%;
                padding-left: 30px;
            }
    }

    &__title {
        font-family: "PT Sans";
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
    }

    &__desc {
        padding-top: 14px;
        padding-bottom: 39px;
    }

    &__btn-tags-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__btn {}

    &__tags {
        font-family: "PT Sans";
        font-size: 18px;
        line-height: 23px;
        // text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
    }
}

// main block #6 Partners

.partners {
    // margin-top: 89px;
    margin-top: clamp(1.875rem, 0.674rem + 6.86vw, 5.563rem);
    margin-bottom: 106px;
    // padding: 0 15px;
    @media(max-width: 660px) {
        padding: 0 clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
    }

    &__title {
        margin-bottom: 90px
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__icon {}
}

// footer

.footer {

    &__background {
        background-image: url(./../img/footer.webp);
        background-position: center;
        background-size: cover;
    }

    &__container {
        padding-top: 80px;
        padding-bottom: 67px;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        & > * {
            @media (min-width: 660px) {
                flex: 1 1 calc((100% - 60px) / 3);
            }
        }
    }

    &__about {}

    &__title {
        padding-bottom: 40px;
        font-family: "Playfair Display";
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
    }

    &__desc {
        font-family: "PT Sans";
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #fff
    }

    &__menu-wrapper {}

    &__f-menu {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;
    }

    &__subscribe-wrapper {}

    &__subscribe {
        padding-top: 26px;
        display: flex;
        flex-wrap: wrap;
    }
}

.f-menu {

    &__item {}

    &__link {
        padding: 10px 20px;
        display: inline-block;
        color: #d0d0d0;
        background-color: #0f0f0f;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    
}

.subscribe {

    &__input {
        width: 190px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        border: none;
        padding-left: 20px;
    }

    &__btn {
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        background-color: #0f0f0f;
    }
}

.copyright {

    &__container {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 17px auto;
    }

    &__info {
        color: #d0d0d0;
    }

    &__agreement {
        color: #d0d0d0;
    }
}
