@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

a {
  color: unset;
}

* img {
  height: auto;
  max-width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #000;
  position: relative;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.title:before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 120px;
  background-color: #fff;
  height: 1px;
  margin: auto;
}
@media (max-width: 300px) {
  .title {
    font-size: 30px;
  }
}

.button {
  padding: 12px 28px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

@media (max-width: 992px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

.swiper {
  position: relative;
  overflow: hidden;
}

.topbar {
  position: relative;
  z-index: 3;
  background-color: #000;
}
.topbar__container {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.topbar__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  text-decoration: none;
  color: #969696;
}
.topbar__login {
  min-width: 87px;
  gap: 19px;
}

.header {
  background-color: #0f0f0f;
}
.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 104px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__buttons {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  .menu {
    z-index: 2;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: #1F1F1F;
    transition: left 0.2s;
  }
  .menu._active {
    left: 0;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu__body {
  padding: 30px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .menu__body {
    flex-direction: column;
    margin: auto;
    background-color: #1F1F1F;
  }
}
.menu__link {
  padding: 30px 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #969696;
  transition: color 0.2s;
}
@media (any-hover) {
  .menu__link:hover {
    color: #fff;
    background-color: #1F1F1F;
  }
}
@media (max-width: 768px) {
  .menu__link {
    line-height: 60px;
    font-size: 30px;
  }
}
@media (max-width: 414px) {
  .menu__link {
    font-size: 24px;
  }
}
@media (max-width: 280px) {
  .menu__link {
    padding: 20px 5px;
    font-size: 20px;
  }
}

.hero {
  order: 1;
  background-image: url(./../img/first-screen.webp);
  background-position: center;
}
.hero__container {
  max-width: 730px;
  padding-top: clamp(1.875rem, -0.866rem + 15.66vw, 10rem);
  padding-bottom: clamp(1.875rem, -1.222rem + 17.7vw, 9.75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.875rem, 0.646rem + 7.02vw, 5rem);
}
.hero__title {
  display: none;
}
.hero__description {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

/**
 * Swiper 9.1.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 16, 2023
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff ;
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff ;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000 ;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px ;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.elect {
  order: 2;
  display: flex;
}
@media (max-width: 992px) {
  .elect {
    flex-direction: column;
  }
}
.elect__season {
  width: 54.17%;
}
@media (max-width: 992px) {
  .elect__season {
    width: 100%;
  }
}
.elect__newcoll {
  width: 45.83%;
  background-image: url(./../img/new-col.webp);
  background-size: cover;
}
@media (max-width: 992px) {
  .elect__newcoll {
    width: 100%;
  }
}

.elect__season-wrapper {
  padding: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem) clamp(1.875rem, 0.724rem + 6.58vw, 5rem);
}

.elect-slider {
  padding-top: 100px;
}

.elect-slide {
  width: 260px;
}
.elect-slide__img-wrapper {
  padding-top: 27px;
  padding-bottom: 34px;
  background-color: #191b1c;
}
.elect-slide__img {
  display: block;
  margin: 0 auto;
}
.elect-slide__desc {
  padding-top: 25px;
  font-family: "Playfair Display", serif;
}
.elect-slide__title {
  font-size: 18px;
  color: #fff;
}
.elect-slide__price {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #d0d0d0;
}

.elect-buttons {
  display: none;
}
@media (max-width: 1440px) {
  .elect-buttons {
    display: block;
  }
}

.swiper-button-prev {
  top: 50px;
  color: #969696;
}

.swiper-button-next {
  top: 50px;
  color: #969696;
}

.elect__newcoll-wrapper {
  padding-top: clamp(9.625rem, 0.127rem + 54.28vw, 30.25rem);
  padding-bottom: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.elect__newcoll-title:before {
  bottom: -25px;
}

.coll {
  order: 3;
  display: flex;
}
@media (max-width: 1440px) {
  .coll {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .coll {
    order: 4;
  }
}
@media (max-width: 768px) {
  .coll {
    gap: 0;
    flex-direction: column-reverse;
  }
}
.coll__img-wrapper {
  display: flex;
  width: 48.75%;
}
@media (max-width: 992px) {
  .coll__img-wrapper {
    display: none;
  }
}
.coll__content-wrapper {
  width: 51.25%;
  padding: 0 15px;
}
@media (max-width: 992px) {
  .coll__content-wrapper {
    background-image: url(../img/2018-collection.webp);
    background-position: top;
    background-size: cover;
    width: 100%;
  }
}
.coll__img {
  object-fit: cover;
  width: 100%;
}
.coll__content {
  padding-top: clamp(3.125rem, 1.896rem + 7.02vw, 6.25rem);
  padding-bottom: clamp(4.375rem, 3.687rem + 3.93vw, 6.125rem);
  max-width: 628px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.coll__title {
  font-weight: 400;
}
.coll__title:before {
  bottom: -40px;
}
.coll__desc {
  padding-top: 80px;
  padding-bottom: 64px;
  text-align: center;
}
.novelties {
  order: 4;
  padding-top: clamp(3.125rem, 1.701rem + 8.14vw, 7.5rem);
}
@media (max-width: 992px) {
  .novelties {
    order: 3;
  }
}
@media (min-width: 993px) {
  .novelties__title:before {
    bottom: -39px;
  }
}

.novelties-slider {
  padding-top: 100px;
}

@media (max-width: 991px) {
  .novelties__container {
    padding-left: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
    padding-right: clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
  }
}
.novelties-slider__wrapper {
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .novelties-slider__wrapper {
    flex-wrap: nowrap;
  }
}

.novelties-slide {
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 991px) {
  .novelties-slide {
    flex: 1 1 238px;
  }
}
.novelties-slide:last-child img {
  filter: blur(1.5px);
}

.novelties-buttons {
  display: none;
}
@media (max-width: 992px) {
  .novelties-buttons {
    display: block;
  }
}

.novelties-btn {
  position: relative;
  top: -225px;
}

.posts {
  order: 5;
  padding-top: 63px;
}
.posts__title {
  margin-bottom: 93px;
  padding: 0 10px;
}
.posts__title:before {
  bottom: -36px;
}
.posts__img {
  object-fit: cover;
}

.post {
  display: flex;
  gap: clamp(1.875rem, -12.625rem + 18.13vw, 9.125rem);
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .post {
    flex-direction: column;
  }
}
@media (min-width: 993px) {
  .post__img-wrapper {
    width: 51.51%;
  }
}
.post__img {
  object-fit: cover;
}
@media (max-width: 992px) {
  .post__img {
    width: 100%;
  }
}
.post__content {
  padding-top: 53px;
  padding-right: 30px;
  max-width: 628px;
}
@media (max-width: 1280px) {
  .post__content {
    padding-top: 30px;
  }
}
@media (max-width: 1024px) {
  .post__content {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .post__content {
    padding-top: 0;
    max-width: none;
    width: 100%;
    padding-left: 30px;
  }
}
.post__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.post__desc {
  padding-top: 14px;
  padding-bottom: 39px;
}
.post__btn-tags-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}
.post__tags {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.partners {
  order: 6;
  margin-top: clamp(1.875rem, 0.674rem + 6.86vw, 5.563rem);
  margin-bottom: 106px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .partners {
    margin-bottom: 66px;
  }
}
@media (max-width: 660px) {
  .partners {
    padding: 0 clamp(1.875rem, 0.424rem + 8.29vw, 5.813rem);
  }
}
.partners__title {
  margin-bottom: 90px;
}
.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 767px) {
  .partner__logo {
    max-width: 80%;
  }
}

.footer__background {
  background-image: url(./../img/footer.webp);
  background-position: center;
  background-size: cover;
}
.footer__container {
  padding-top: 80px;
  padding-bottom: 67px;
}
.footer__main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 660px) {
  .footer__main > * {
    flex: 1 1 calc((100% - 60px) / 3);
  }
}
.footer__title {
  padding-bottom: 40px;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.footer__desc {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
}
.footer__menu-link {
  padding: 10px 20px;
  display: inline-block;
  color: #d0d0d0;
  background-color: #0f0f0f;
}
.footer__menu-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer__subscribe-form {
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
}
.footer__subscribe-input {
  width: 190px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  padding-left: 20px;
}
.footer__subscribe-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #0f0f0f;
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 17px auto;
}
.copyright__info {
  color: #d0d0d0;
}
.copyright__agreement {
  color: #d0d0d0;
}